{% assign locale = include.locale | default: page.locale | default: layout.locale | default: site.locale %}
{%- assign next = page.next -%}
{%- assign previous = page.previous -%}
{%- assign collection = site.collections | where: "label", page.collection | first -%}
{%- for document in collection.docs -%}
{%- if page.locale == next.locale and page.locale == previous.locale %}{% break %}{% endif -%}
{%- if page.locale != next.locale %}{% assign next = next.next %}{% endif -%}
{%- if page.locale != previous.locale %}{% assign previous = previous.previous %}{% endif -%}
{%- endfor -%}

{% if previous or next %}
  <nav class="pagination">
    {% if previous %}
      <a href="{{ previous.url | relative_url }}" class="pagination--pager" title="{{ previous.title | markdownify | strip_html | strip}}">{{ site.data.ui-text[locale].pagination_previous | default: "Previous" }}</a>
    {% else %}
      <a href="#" class="pagination--pager disabled">{{ site.data.ui-text[locale].pagination_previous | default: "Previous" }}</a>
    {% endif %}
    {% if next %}
      <a href="{{ next.url | relative_url }}" class="pagination--pager" title="{{ next.title | markdownify | strip_html | strip}}">{{ site.data.ui-text[locale].pagination_next | default: "Next" }}</a>
    {% else %}
      <a href="#" class="pagination--pager disabled">{{ site.data.ui-text[locale].pagination_next | default: "Next" }}</a>
    {% endif %}
  </nav>
{% endif %}
