@import "minimal-mistakes";

blockquote {
  margin-inline: 0;
  font-style: normal;
}

a, span, code, kbd, pre, em, strong, b, i {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.m0 {
  margin: 0 !important;
}
