@import "minimal-mistakes";

blockquote {
  margin-inline: 0;
  font-style: normal;
}

* {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.notice ul:first-child {
  margin-top: 0;
}

.task-list-item label {
  display: inline
}

.m0 {
  margin: 0 !important;
}
