@import "minimal-mistakes";

blockquote {
  margin-inline: 0;
  font-style: normal;
}

* {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.m0 {
  margin: 0 !important;
}

table.setting-multi-radio td {
  border: 0;
  text-align: center;
  border-left: 1px solid mix(#000, $border-color, 25%);
}

table.setting-multi-radio td {
  border: 0;
  text-align: center;
  border-left: 1px solid mix(#000, $border-color, 25%);
}

input[type="radio"] {
  width: 0;
  margin: 0;
  margin-inline-end: 1em;
  font-family: var(--fa-family-classic);
}

input[type="radio"]::before {
  content: "\f111";
}

input[type="radio"]:checked::before {
  content: "\f192";
}
