@import "minimal-mistakes/copyright";

@import "minimal-mistakes-plus/common";

@import "minimal-mistakes/vendor/breakpoint/breakpoint";
@include breakpoint-set("to ems", true);
@import "minimal-mistakes/vendor/magnific-popup/magnific-popup"; // Magnific Popup
@import "minimal-mistakes/vendor/susy/susy";

@import "minimal-mistakes-plus/reset";
@import "minimal-mistakes-plus/base";
@import "minimal-mistakes-plus/forms";
@import "minimal-mistakes-plus/tables";
@import "minimal-mistakes/animations";

@import "minimal-mistakes-plus/buttons";
@import "minimal-mistakes-plus/notices";
@import "minimal-mistakes-plus/masthead";
@import "minimal-mistakes-plus/navigation";
@import "minimal-mistakes-plus/footer";
@import "minimal-mistakes-plus/search";
@import "minimal-mistakes/syntax";

@import "minimal-mistakes-plus/utilities";

@import "minimal-mistakes-plus/page";
@import "minimal-mistakes-plus/archive";
@import "minimal-mistakes-plus/sidebar";
@import "minimal-mistakes/print";

blockquote {
  margin-inline: 0;
  font-style: normal;
}

* {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.m0 {
  margin: 0 !important;
}

table.setting-multi-radio td {
  border: 0;
  text-align: center;
  border-left: 1px solid $text-color;
}

input[type="radio"] {
  width: 0;
  margin: 0;
  margin-inline-end: 1em;
  font-family: var(--fa-family-classic);
}

input[type="radio"]::before {
  content: "\f111";
}

input[type="radio"]:checked::before {
  content: "\f192";
}
