$theme-header-height: 73px;

img {
  max-width: 100%;
}

:target {
  scroll-margin-top: $theme-header-height;
}

.alert > *:last-child {
  margin-bottom: 0;
}

article * {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/variables-dark";
@import "bootstrap/maps";
@import "bootstrap/mixins";
@import "bootstrap/mixins/color-mode";
@import "bootstrap/utilities";

@import "bootstrap/root";
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/containers";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";
@import "bootstrap/transitions";
@import "bootstrap/dropdown";
@import "bootstrap/button-group";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/card";
@import "bootstrap/accordion";
@import "bootstrap/breadcrumb";
@import "bootstrap/pagination";
@import "bootstrap/badge";
@import "bootstrap/alert";
@import "bootstrap/progress";
@import "bootstrap/list-group";
@import "bootstrap/close";
@import "bootstrap/toasts";
@import "bootstrap/modal";
@import "bootstrap/tooltip";
@import "bootstrap/popover";
@import "bootstrap/carousel";
@import "bootstrap/spinners";
@import "bootstrap/offcanvas";
@import "bootstrap/placeholders";

@import "bootstrap/helpers";

@import "bootstrap/utilities/api";

@import "syntax";

$bootstrap-icons-font-dir: "../fonts" !default;
@import "bootstrap-icons";
