---

---

<div class="unofficial-site-alert" data-pagefind-ignore>
  您正在访问第三方构建的文档站。如需查看官方文档，请<a href="https://docs.hmcl.net">点击此处</a
  >跳转。
</div>

<style>
  .unofficial-site-alert {
    text-align: center;
    padding: 0.75em 1em;
    background-color: var(--sl-color-orange-low);
  }
</style>
