---
layout: document
---

{% assign root_version = '' %}
{% assign changelogs = site.changelogs | where_exp: "item", "item.relative_path contains 'dev/'" | reverse %}
{% for item in changelogs %}
  {% assign path = item.relative_path |  split: '.' | first | split: '/' %}
  {% assign end = path | size %}
  {% assign version = path | slice: 2, end | join: '.' %}
  {% assign current_root_version = path | slice: 2, 2 | join: '.' %}
  {% if current_root_version != root_version %}
  {% assign root_version = current_root_version %}
  <h1 id="HMCL-{{ root_version }}">HMCL {{ root_version }}</h1>
  {% endif %}
  <h2 id="{% if forloop.first %}nowchange{% else %}HMCL-{{ version }}{% endif %}">HMCL {{ version }}</h2>
  <div>{{ item.content | markdownify }}</div>
{% endfor %}
