---
layout: single
---

{%- for group in page.data %}
<h2 id="{{ group.title }}">{{ group.title }}</h2>
{% for pair in group.settings %}
{% assign name = pair[0] %}
{% assign value = pair[1] %}
{% assign setting = site.data.settings[name] %}
<div class="notice">
  <p>
    <strong>{{ value.title }}</strong><br>
    {{ value.description }}
  </p>
  {% if setting.type == 'radio' %}
  {% for option in setting.options %}
  <label>
    <input type="radio" {% if setting.default==option %}checked{% endif %} class="setting-item" name="{{ name }}"
      value="{{ option }}">
    {{ value.options[option] }}
  </label>
  {% endfor %}
  {% elsif setting.type == 'multi-radio' %}
  <table>
    <thead>
      <tr>
        <th>{{ value.title }}</th>
        {% for item in setting.children %}
        {% capture item_name %}{{ item[0] }}{% endcapture %}
        <th>{{ value.children[item_name] }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for option in setting.options %}
      <tr>
        <th>{{ value.options[option] }}</th>
        {% for item in setting.children %}
        <td><input class="setting-item" {% if item[1].default==option %} checked{% endif %} type="radio"
            name="{{ name }}.{{ item[0] }}" value="{{ option }}"></td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>
{% endfor %}
{% endfor %}

<script>
  var setting_items = document.getElementsByClassName("setting-item");
  for (var i = 0; i < setting_items.length; i++) {
    (function (setting_item) {
      setting_item.addEventListener("change", function (event) {
        settings.set(event.target.name, event.target.value);
      });
      settings.onChange(setting_item.name, function (newValue, oldValue) {
        if (setting_item.value === newValue) {
          setting_item.checked = true;
        }
      });
    })(setting_items[i]);
  }
</script>

<style>
  .notice label input {
    display: inline
  }
</style>
